$primary-light: rgba(lighten($primary, 40), 0.1);
$info-light: rgba(lighten($info, 40), 0.1);
$success-light: rgba(lighten($success, 40), 0.1);
$warning-light: rgba(lighten($warning, 40), 0.1);
$danger-light: rgba(lighten($danger, 40), 0.1);
