@import "~bootstrap/scss/bootstrap";
@import "~font-awesome";

@import "colors";
@import "hints";
@import "code";
@import "api";

header {
    background-color: #cbceb1;
    padding: 10px;
    display: flex;
    align-self: center;
    margin-bottom: 15px;
}

.no-decoration, .no-decoration:hover {
    color: black;
    text-decoration: none;
    font-size: 1.4rem;
}

h1 {
    font-size: 1.6rem;
    font-weight: 800;
    margin-top: 20px;
    margin-bottom: 10px;
}

h2 {
    font-size: 1.4rem;
    color: #000040;
    font-weight: 800;
}

h3 {
    font-size: 1.2rem;
    color: #400000;
}

